<!--Card-->
<div class="card" style="width: 18rem; margin: 15px;">

  <!--Card image-->
  <div class="view hm-white-slight waves-light" mdbRippleRadius>
    <img src="{{ img }}" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
    <a>
      <div class="mask"></div>
    </a>
  </div>

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title">{{ title }}</h4>
    <!--Text-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <a class="btn btn-primary waves-light" mdbRippleRadius>Details</a>
  </div>

</div>
<!--/.Card-->